/* Default theme colors */

:root {
	--my-global-background: #131313;
	--my-content-background :#1d1d1d;

	--my-navbar-background: #141414;
}

/* Light theme colors */

:root.let-there-be-light {
	--my-content-background: #dadada;
}
