/* Default (dark) theme colors */
:root {
	// -- selection --
	--my-selection-text: #fff;
	--my-selection-background: #4d3766;

	// -- global colors --
	--my-global-background: #171a1d;

	// -- navigation bar --
	--my-navigation-background1: #16191d;
	--my-navigation-background2: #22272c;
	--my-navigation-border: #131516;
	--my-navigation-label: #9da3b1;
	--my-navigation-label-highlight: #fff;
	--my-navigation-light-dimmed: #505050;
	--my-navigation-light-on: #1ad61a;
	--my-navigation-cut-in: #353b41;
	--my-navigation-social-icon: #4a5565;
	--my-navigation-social-icon-highlight: #e5ebf7;

	// -- footer --
	--my-footer-background: #171a1d;
	--my-footer-text: #43505f;
	--my-footer-text-highlight: #adadad;

	// -- main content --
	--my-content-background: #1c1f22;
	--my-content-text: #ddd;
	--my-content-text-dimmed: #7a8994;
	--my-content-heading: #eee;
	--my-content-heading2: #636e77;
	--my-content-accent: #293036;
	--my-content-accent-text: #90969c;
	--my-content-flavor: #1eda06;
	--my-content-link: #ff2176;
	--my-content-link-hover: #fff;
	--my-content-note: #686b75;
	--my-content-bullet: #484f64;

	// -- sidebar --
	--my-sidebar-heading: #9ea1ac;
	--my-sidebar-searchbox: #23272b;
	--my-sidebar-searchbox-focus: #23272b;
	--my-sidebar-searchbox-focus-background: #1c1f22;
	--my-sidebar-searchbox-text: #d0d7e0;
	--my-sidebar-search-button-icon: #69717c;
	--my-sidebar-search-button-icon-highlight: #e5ebf7;
	--my-sidebar-tag-text: #8e959b;
	--my-sidebar-tag-text-highlight: #fff;
	--my-sidebar-tag-background: #23272b;
	--my-sidebar-tag-background-highlight: #5a5e64;
	--my-sidebar-tag-count-text: #999;
	--my-sidebar-tag-count-background: #1b1e20;

	// -- special --
	--my-image-border: #1a1a1a;
	--my-image-shadow: #050505;
}

/* Light theme colors */
:root.let-there-be-light {

	// -- selection --
	--my-selection-text: #fff;
	--my-selection-background: #4d3766;

	// -- global colors --
	--my-global-background: #171a1d;

	// -- navigation bar --
	/*
	--my-navigation-background1: #0f1113;
	--my-navigation-background2: #171a1d;
	--my-navigation-border: #131516;
	--my-navigation-label: #9da3b1;
	--my-navigation-label-highlight: #fff;
	--my-navigation-light-dimmed: #505050;
	--my-navigation-light-on: #1ad61a;
	--my-navigation-cut-in: #262b30;
	--my-navigation-social-icon: #4a5565;
	--my-navigation-social-icon-highlight: #e5ebf7;
	*/

	// -- footer --
	--my-footer-background: #ebebeb;
	--my-footer-text: #9098a0;
	--my-footer-text-highlight: #0c0c0c;

	// -- main content --
	--my-content-background: #dfdfdf;
	--my-content-text: #000;
	--my-content-text-dimmed: #858585;
	--my-content-heading: #000;
	--my-content-heading2: #3b3b3b;
	--my-content-accent: #b9b9b7;
	--my-content-accent-text: #030303;
	--my-content-flavor: #14ac00;
	--my-content-link: #f75104;
	--my-content-link-hover: #000000;
	--my-content-note: #686b75;
	--my-content-bullet: #484f64;

	// -- sidebar --
	--my-sidebar-heading: #9c9c9c;
	--my-sidebar-searchbox: #eeeeee;
	--my-sidebar-searchbox-focus: #23272b;
	--my-sidebar-searchbox-focus-background: #f3f3f3;
	--my-sidebar-searchbox-text: #3d3d3d;
	--my-sidebar-search-button-icon: #666666;
	--my-sidebar-search-button-icon-highlight: #e5ebf7;
	--my-sidebar-tag-text: #353535;
	--my-sidebar-tag-text-highlight: #000000;
	--my-sidebar-tag-background: #c4c4c4;
	--my-sidebar-tag-background-highlight: #5a5e64;
	--my-sidebar-tag-count-text: #818181;
	--my-sidebar-tag-count-background: #e0e0e0;

	// -- special --
	--my-image-border: #b9b9b7;
	--my-image-shadow: #ebebeb;
}
