/* Default theme colors */

:root {
	--my-selection-text: #fff;
	--my-selection-background: #4d3766;

	--my-global-background: #24292e;

	--my-content-background: #1c1f22;
	--my-content-text: #ddd;
	--my-content-text-dimmed: #bbb;
	--my-content-heading: #eee;
	--my-content-accent: #293036;
	--my-content-accent-text: #90969c;
	--my-content-link: #ff2176;
	--my-content-link-hover: #fff;

	--my-navigation-color1: #0f1113;
	--my-navigation-color2: #171a1d;
	--my-navigation-border: #131516;
	--my-navigation-cut-in: #262b30;

	--my-footer-background: #24292e;
	--my-footer-divider: #2f343a;
}

/* Light theme colors */

:root.let-there-be-light {
	--my-content-background: #d3d2c8;
	--my-content-text: #2f2f2f;
	--my-content-text-dimmed: #424242;
	--my-content-heading: #222;
	--my-content-accent: #b8b7ad;
	--my-content-accent-text: #2e2e2e;
	--my-content-underline: #ebf0f3;
	--my-content-link: #fa3706;
	--my-content-link-hover: #000;
}
