
::selection {
	color: #fff;
	background: rgb(77, 55, 102);
}

/* Default theme colors */

:root {
	--my-global-background: #252525;

	--my-content-background: #1d1d1d;
	--my-content-text: #ccc;
	--my-content-heading: #eee;
	--my-content-accent: #333;
	--my-content-accent-text: #b9b9b9;
	--my-content-link: #ff2176;
	--my-content-link-hover: #fff;

	--my-navigation-color1: #000;
	--my-navigation-color2: #151515;
	--my-navigation-border: #111;
	--my-navigation-cut-in: #2a2a2a;

	--my-footer-background: #252525;
	--my-footer-divider: #2a2a2a;
}

/* Light theme colors */

:root.let-there-be-light {
	--my-content-background: #f9f9f9;
	--my-content-color: #000000;
	--my-content-heading: #222;
	--my-content-accent: #696969;
	--my-content-underline: #ebf0f3;
	--my-content-link: #f70036;

	--my-navigation-color1: #f7f7f7;
	--my-navigation-color2: #dfdfdf;
	/*
	--my-navigation-border: #eee;
	--my-navigation-cut-in: #eee;
	*/

}
