
::selection {
	color: #fff;
	background: rgb(77, 55, 102);
}

/* Default theme colors */

:root {
	--my-global-background: #131313;
	--my-content-background :#1d1d1d;

	--my-navbar-background: #141414;

	--my-soft-border: #2a2a2a;
}

/* Light theme colors */

:root.let-there-be-light {
	--my-content-background: #dadada;
}
