/* Default (dark) theme colors */
:root {
	// -- selection --
	--my-selection-text: #0a0a0a;
	--my-selection-background: #686868;

	// -- global colors --
	--my-global-background: #171a1d;

	// -- navigation bar --
	--my-navigation-background1: #16191d;
	--my-navigation-background2: #1f2429;
	--my-navigation-border: #131516;
	--my-navigation-label: #9da3b1;
	--my-navigation-label-highlight: #fff;
	--my-navigation-light-dimmed: #505050;
	--my-navigation-light-on: #1ad61a;
	--my-navigation-cut-in: #353b41;
	--my-navigation-social-icon: #4a5565;
	--my-navigation-social-icon-highlight: #e5ebf7;

	// -- footer --
	--my-footer-background: #171a1d;
	--my-footer-text: #43505f;
	--my-footer-text-highlight: #adadad;

	// -- main content --
	--my-content-background: #1c1f22;
	--my-content-text: #ddd;
	--my-content-text-dimmed: #7a8994;
	--my-content-heading: #eee;
	--my-content-heading2: #636e77;
	--my-content-accent: #293036;
	--my-content-accent-text: #90969c;
	--my-content-flavor: #1eda06;
	--my-content-link: #ff2176;
	--my-content-link-hover: #fff;
	--my-content-note: #686b75;
	--my-content-bullet: #484f64;

	// -- sidebar --
	--my-sidebar-heading: #9ea1ac;
	--my-sidebar-searchbox: #23272b;
	--my-sidebar-searchbox-focus: #23272b;
	--my-sidebar-searchbox-focus-background: #1c1f22;
	--my-sidebar-searchbox-text: #d0d7e0;
	--my-sidebar-search-button-icon: #69717c;
	--my-sidebar-search-button-icon-highlight: #e5ebf7;
	--my-sidebar-tag-text: #8e959b;
	--my-sidebar-tag-text-highlight: #fff;
	--my-sidebar-tag-background: #23272b;
	--my-sidebar-tag-background-highlight: #5a5e64;
	--my-sidebar-tag-count-text: #999;
	--my-sidebar-tag-count-background: #1b1e20;

	// -- special --
	--my-image-border: #1a1a1a;
	--my-image-shadow: #050505;
}

/* Light theme colors */
:root.let-there-be-light {
	// -- selection --
	--my-selection-text: #fff;
	--my-selection-background: #cbbfae;

	// -- global colors --
	--my-global-background: #f6f3ef;

	// -- navigation bar --
	/*
	--my-navigation-background1: #f9f6f2;
	--my-navigation-background2: #ede6df;
	--my-navigation-border: #d6cfc7;
	--my-navigation-label: #7c6f5c;
	--my-navigation-label-highlight: #3e3322;
	--my-navigation-light-dimmed: #b8a99a;
	--my-navigation-light-on: #7bb661;
	--my-navigation-cut-in: #e5ded6;
	--my-navigation-social-icon: #a89c8a;
	--my-navigation-social-icon-highlight: #b86b3c;
	*/

	// -- footer --
	--my-footer-background: #ede6df;
	--my-footer-text: #a89c8a;
	--my-footer-text-highlight: #3e3322;

	// -- main content --
	--my-content-background: #fffaf6;
	--my-content-text: #4e3b23;
	--my-content-text-dimmed: #a89c8a;
	--my-content-heading: #3e3322;
	--my-content-heading2: #7c6f5c;
	--my-content-accent: #e5ded6;
	--my-content-accent-text: #7c6f5c;
	--my-content-flavor: #7bb661;
	--my-content-link: #ff0505;
	--my-content-link-hover: #0c0c0c;
	--my-content-note: #a89c8a;
	--my-content-bullet: #b8a99a;

	// -- sidebar --
	--my-sidebar-heading: #a89c8a;
	--my-sidebar-searchbox: #ede6df;
	--my-sidebar-searchbox-focus: #fffaf6;
	--my-sidebar-searchbox-focus-background: #e5ded6;
	--my-sidebar-searchbox-text: #4e3b23;
	--my-sidebar-search-button-icon: #a89c8a;
	--my-sidebar-search-button-icon-highlight: #b86b3c;
	--my-sidebar-tag-text: #7c6f5c;
	--my-sidebar-tag-text-highlight: #fff;
	--my-sidebar-tag-background: #e5ded6;
	--my-sidebar-tag-background-highlight: #b86b3c;
	--my-sidebar-tag-count-text: #a89c8a;
	--my-sidebar-tag-count-background: #f6f3ef;

	// -- special --
	--my-image-border: #d6cfc7;
	--my-image-shadow: #e5ded6;
}
