
::selection {
	color: #fff;
	background: rgb(77, 55, 102);
}

/* Default theme colors */

:root {
	--my-global-background: #131313;

	--my-content-background :#1d1d1d;
	--my-content-color: #ccc;
	--my-content-heading: #eee;
	--my-content-heading-decoration: #333;
	--my-content-link: #ff2176;


	--my-soft-border: #2a2a2a;
}

/* Light theme colors */

:root.let-there-be-light {
	--my-content-background: #e9e9e9;
	--my-content-color: #000000;
	--my-content-heading: #000;
	--my-content-underline: #ebf0f3;
	--my-content-link: #f70036;
}
