@import './base.css';
@import './colors.css';

body {
	background-color: var(--my-global-background);
}

#metayeti-root {
	min-width: 300px;
}

.pixelated {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;

	@media (max-width: 1019px) {
		width: auto;
		padding: 0 20px;
	}
}

.main-content {
	position: relative;
	padding: 10vh 0;
	background-color: var(--my-content-background);
	color: var(--my-content-text);
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	z-index: 5;

	.site-content {
		display: flex;
		flex-direction: column;
		gap: 10vh;
	}

	h2, h3, h4, h5, h6 {
		//display: inline-block;
		font-family: "Titillium Web", sans-serif;
		color: var(--my-content-heading);
		border-left: 6px solid var(--my-content-accent);
		padding-left: 15px;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 1.9rem;
		font-weight: 400;
		line-height: 2.3rem;
	}

	p {
		padding-bottom: 20px;
		line-height: 1.5rem;
	}

	a.link {
		//display: inline-block;
		position: relative;
		color: var(--my-content-link);

		&:hover {
			//outline: 1px dashed var(--my-content-link);
			//outline-offset: 2px;
			left: -1px;
			//top: -2px;
			//padding-bottom: 2px;
			border-top: 1px dashed var(--my-content-link);
			color: #fff;
			// box-shadow: 0 0 2px 2px #000;
			//transform: translate(0, -1px);
		}
	}

	/*
	a.fancy {
		display: inline-block;
		color: var(--my-content-link);

		&:before {
			content: '[';
			padding-right: 5px;
			color: var(--my-content-link);
		}
		&:after {
			content: ']';
			padding-left: 5px;
			color: var(--my-content-link);
		}
		&:hover {
			color: #fff;
			border-top: 0;
			scale: 1.05;
		}
	}
	*/
}