@use './base.css';
@use './colors.scss';

::selection {
	color: var(--my-selection-text);
	background: var(--my-selection-background);
}

body {
	background-color: var(--my-global-background);
}

#metayeti-root {
	min-width: 300px;
}

.pixelated {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;

	@media (max-width: 1019px) {
		width: auto;
		padding: 0 20px;
	}
}

.main-content {
	position: relative;
	padding: 10vh 0;
	min-height: calc(100vh - 165px); // to prevent flicker and scroll issues
	background-color: var(--my-content-background);
	color: var(--my-content-text);
	font-family: "Inter", sans-serif;
	font-size: 1.05rem;
	z-index: 5;

	.site-content {
		display: flex;
		flex-direction: column;
		gap: 10vh;
	}

	// -- headings --

	h2, h3, h4, h5, h6 {
		font-family: "Titillium Web", sans-serif;
		color: var(--my-content-heading);
		border-left: 6px solid var(--my-content-accent);
		padding-left: 15px;
		margin-bottom: 30px;
	}
	h2 {
		font-size: 1.9rem;
		font-weight: 400;
		line-height: 2.3rem;

		/*
		&:not(:first-child) {
		}
		*/
		&:nth-child(n+2) {
			margin-top: 6vh;
		}
	}

	// -- paragraph --

	p {
		padding-bottom: 20px;
		line-height: 1.5rem;
	}
	p.grayed {
		color: #686b75;
		font-size: 0.8rem;
	}

	// -- link --

	a.link {
		position: relative;
		color: var(--my-content-link);

		&:hover {
			left: -1px;
			padding-top: 1px;
			border-top: 2px solid var(--my-content-link);
			color: var(--my-content-link-hover);
		}
	}

	// -- table --

	table {
		border-collapse: collapse;
		width: 100%;
		max-width: 800px;
		margin: 20px 0;
		font-family: Arial, sans-serif;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	th, td {
		padding: 12px 15px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	th {
		background-color: #f4f4f4;
		font-weight: bold;
		color: #333;
	}

	tr:hover {
		background-color: #f9f9f9;
	}

	td {
		color: #555;
	}

	@media (max-width: 600px) {
		table {
			width: 100%;
		}
		th, td {
			padding: 8px;
			font-size: 14px;
		}
	}

	// -- code --

	pre, code {
		font-family: "M PLUS 1 Code", Courier, monospace;
		background-color: #1b1b1b;
		color: #ffffff;
	}

	// code block
	pre {
		padding: 10px;
		overflow-x: auto;
		border: 1px solid #333;
	}

	// inline code
	code {
		padding: 2px 4px;
		font-size: 0.9rem;
	}
}