@use './base.css';
@use './colors.scss';

::selection {
	color: var(--my-selection-text);
	background: var(--my-selection-background);
}

body {
	background-color: var(--my-global-background);
}

#metayeti-root {
	min-width: 300px;
}

.pixelated {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;

	@media (max-width: 1019px) {
		width: auto;
		padding: 0 20px;
	}
}

.main-content {
	position: relative;
	padding: calc(10vh + 10px) 0;
	min-height: calc(100vh - 165px); // to prevent flicker and scroll issues
	background-color: var(--my-content-background);
	color: var(--my-content-text);
	font-family: "Inter", sans-serif;
	font-size: 1.05rem;
	z-index: 5;
	overflow: hidden;

	.site-content {
		display: flex;
		flex-direction: column;
		gap: 10vh;
	}

	// -- ruler --
	hr {
		width: 100%;
		height: 0;
		border: 0;
		border-bottom: 2px solid var(--my-content-accent);
		margin: 30px 0 50px 0;
	}

	// -- headings --

	h2, h3, h4, h5, h6 {
		font-family: "Titillium Web", sans-serif;
		color: var(--my-content-heading);
		margin-bottom: 30px;
		scroll-margin-top: 30px;
	}
	h2 {
		position: relative;
		//border-left: 6px solid var(--my-content-accent);
		padding-left: 10px;
		font-size: 1.9rem;
		line-height: 2.3rem;
		font-weight: 400;

		/*
		&:not(:first-child) {
		}
		*/
		&:nth-child(n+2) {
			margin-top: 7vh;
		}

		&::before {
			position: absolute;
			content: '';
			//width: 43px;
			width: 100vw;
			height: 100%;
			//left: -66px;
			left: calc(-100vw - 25px);
			top: -1px;
			//background-color: var(--my-content-accent);
			background: linear-gradient(to left, var(--my-content-accent) 0%, rgba(0,0,0,0) 10%);
			clip-path: polygon(17px 0, 100% 0, 100% 100%, 0 100%);
			opacity: 0.5;
		}
		&::after {
			position: absolute;
			content: '';
			width: 23px;
			height: 100%;
			left: -20px;
			top: -1px;
			background-color: var(--my-content-accent);
			clip-path: polygon(0 0, 100% 0, calc(100% - 17px) 100%, 0 100%);
			opacity: 0.9;
		}
	}
	h3 {
		position: relative;
		display: inline-block;
		color: var(--my-content-heading2);
		font-size: 1.5rem;
		font-weight: 600;
		z-index: auto;

		&::before {
			position: absolute;
			content: '';
			width: calc(100% + 75px);
			height: 100%;
			left: -48px;
			top: 1.5px;
			background-color: var(--my-content-accent);
			clip-path: polygon(17px 0, 100% 0, calc(100% - 17px) 100%, 0 100%);
			z-index: -1;
		}
		&::after {
			position: absolute;
			content: '';
			width: 30px;
			height: 100%;
			top: 1.5px;
			right: -47px;
			background-color: var(--my-content-accent);
			clip-path: polygon(17px 0, 100% 0, calc(100% - 17px) 100%, 0 100%);
			z-index: -1;
		}
		&:nth-child(n+2) {
			margin-top: 2vh;
		}
	}

	// -- paragraph --
	p {
		font-weight: 400;
		padding-bottom: 20px;	
		line-height: 1.6rem;

		// variants
		&.caption {
			padding-top: 5px;
			color: var(--my-content-note);
			font-family: "Titillium Web", sans-serif;
			font-size: 0.9rem;
		}
		&.footnote {
			color: var(--my-content-note);
			font-size: 0.8rem;
		}
		&.fancy-block {
			color: var(--my-content-text-dimmed);

			&::before {
				content: '.:[';
				font-weight: 600;
				padding-right: 5px;
				color: var(--my-content-text-dimmed);
				opacity: 0.9;
			}
			&::after {
				content: ']:.';
				font-weight: 600;
				padding-left: 5px;
				color: var(--my-content-text-dimmed);
				opacity: 0.9;
			}
		}
		&.smol {
			font-size: 0.75rem;
			line-height: 1.2rem;
		}

		// -- inline --
		span {
			&.smol {
				color: var(--my-content-text-dimmed);
				font-size: 0.7rem;
			}
		}
	}

	// -- link --

	a.link {
		position: relative;
		color: var(--my-content-link);

		&:hover {
			left: -1px;
			padding-bottom: 2px;
			border-bottom: 2px solid var(--my-content-link);
			color: var(--my-content-link-hover);
		}
		&::before {
			content: '{';
			margin-right: 4px;
			color: var(--my-content-link);
		}
		&::after {
			content: '}';
			margin-left: 4px;
			color: var(--my-content-link);
		}
	}

	// -- list --
	ul.list {
		padding-bottom: 20px;
		//list-style-type: square;
		list-style-position: inside;
		//padding-left: 15px;
		font-size: 1rem;
		line-height: 1.6rem;

		li {
			list-style-type: square;
			padding-left: 1px;
		}
		li::marker {
			color: var(--my-content-bullet);
		}
	}

	// -- table --

	table {
		border-collapse: collapse;
		width: 100%;
		max-width: 800px;
		margin: 20px 0;
		font-family: Arial, sans-serif;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	th, td {
		padding: 12px 15px;
		text-align: left;
		border-bottom: 1px solid #ddd;
	}

	th {
		background-color: #f4f4f4;
		font-weight: bold;
		color: #333;
	}

	tr:hover {
		background-color: #f9f9f9;
	}

	td {
		color: #555;
	}

	@media (max-width: 600px) {
		table {
			width: 100%;
		}
		th, td {
			padding: 8px;
			font-size: 14px;
		}
	}

	// -- code --

	pre, code {
		font-family: "M PLUS 1 Code", Courier, monospace;
		background-color: #1b1b1b;
		color: #ffffff;
	}

	// code block
	pre {
		padding: 10px;
		overflow-x: auto;
		border: 1px solid #333;
	}

	// inline code
	code {
		padding: 2px 4px;
		font-size: 0.9rem;
	}
}