@import './base.css';
@import './colors.css';

body {
	background-color: var(--my-global-background);
}

#metayeti-root {
	min-width: 300px;
}

.pixelated {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}
@media (max-width: 990px) {
	.wrap {
		width: auto;
		padding: 0 10px;
	}
}
