.home-page {
	position: relative;
	&__yeti {
		position: absolute;
		right: 0;
		top: -60px;
		width: 600px;
		height: 600px;
		background-image: url('@/assets/images/big_yeti.png');
		background-position: center;
		background-size: contain;
	}
}
